@model JustDrive.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
    </dl>

    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>

    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DriverCertificate)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DriverCertificate)
        </dd>
    </dl>

    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageId)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageId)
        </dd>
    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
